.container{
    h1{
        text-align: center;
    }
}
.card{
    padding: 20px 20px 0 20px;
    mat-card{
        background-color: aliceblue;
    }
    span{
        font-size: 20px;
    }
}

.top-bar{
    padding: 20px 20px 0 20px;
    .top-bar-content{
        padding: 10px;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}
select{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    // option{
    //     height: 35px;
    // }
}