<div class="container">
    <h1>Customer Data</h1>
    <div class="top-bar">
        <div class="top-bar-content">
            <select [(ngModel)]="gender">
                <option *ngFor="let gender of genders" [value]="gender.value">
                    {{gender.viewValue}}
                </option>
            </select>
            <button mat-raised-button (click)="pageRefresh()">Refresh</button>
        </div>
    </div>
    <div class="card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h2>Person profile</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let item of data.results  | filter: gender">
                    <p><img src={{item.picture.large}} alt=""></p>
                    <p><span>Name</span>: {{item.name.first}}</p>
                    <p><span>Profile ID:</span> {{item.id.name}} {{item.id.value}}</p>
                    <p><span>Gender:</span> {{item.gender}}</p>
                    <p><span>City:</span> {{item.location.city}}</p>
                    <p><span>Country:</span> {{item.location.country}}</p>
                    <p><span>Lat</span> {{item.location.coordinates.latitude}}</p>
                    <p><span>Long of location:</span> {{item.location.coordinates.longitude}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>